.survey-container{
    background: white;
    /* padding: 20px; */
    padding: 23px 0 23px 20px;
    margin-right: 20px;
    border-radius: 7px;

    .chart-title{
        font-size: 16px;
        font-weight: 700;
        color: #0d0d0d;
        text-transform: uppercase;
    }
    .chart-div{

    }
}